# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Django
*.sqlite3
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# SAST temporary files
storage/*
!storage/.gitkeep