# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Django
*.sqlite3
staticfiles/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node / Vite
node_modules/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid

# SAST temporary files
storage/*
!storage/.gitkeep