.header {
  height: 64px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  border-bottom: 1px solid #dddddd;

  background-color: white;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.username {
  font-size: 14px;
}

.logout-button {
  padding: 8px 12px;

  border: 1px solid #cccccc;

  background-color: white;

  cursor: pointer;
}